#thumb_table{
    float: left;
}
#ori_img{
    float: right;
    margin: 100px 200px 0px 0px;
}
.example-wrapper { 
    background-color : #ffffff;
    max-width: 800px; 
    width: 950px; 
    font: 18px/1.5 sans-serif; 
    margin : 150px 0px 0px 350px; 
}
#user_mail_id {            
    margin: 0px 0px 10px 35px;
}
#user_password {
    margin: 0px 0px 10px 12px;
}
.btn {
    margin-left: 130px;
    background-color: #000000;
    color: #ffffff;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.error_msg {
    color: #FF0000;
}
.success_msg {
    color: #008000;
}
.register {
    margin-left: 260px;
}
ul {
    display: none;
}
.main{
    float:left;
}
.upload_btn {
    margin : -95px 50px 0px 0px;
}

.add_img{
    float: right;
    margin: 30px;
}
#upload_image_submit{
    margin: 30px 0px 0px 150px;
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #008CBA;
    padding: 10px 20px;
    border-radius: 12px;
}
.view_ref{
    float: left;
    margin: 0px 100px 0px 0px;
}
table{
    margin: 100px 0px 0px 0px;
}
td,th {
    padding:0 20px 0 0;
    text-align: center; 
    vertical-align: middle;
}