<html>
<body style="background-color:powderblue;">

 <div id="sidebar">
            <ul>
                <li><a href="{{path('chart')}}">Chart</a></li>
                <li><a href="/chart">Blog</a></li>
                <a href="{{ url('chart') }}">Home</a>
            </ul>
        </div>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>
{{ var }}
</body>
</html>